/* 
    Document   : user_landing_pages_settings
    Created on : 5 déc. 2011, 14:02:34
    Author     : arnauld.nyaku
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

